*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #151515;
}
section .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e50e1b;
    clip-path: circle(70% at right -20%);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 150px;
}
header .navbar{
    position: relative;
    display: flex;
}
header .navbar li{
    list-style: none;
}
header .navbar li a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    font-size: 17px;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .text{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}
.content .text h2{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}
.content .text p{
    color: #fff;
    font-size: 16px;
}
.content .text a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #e50e1b;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}
.sci{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin-left: 15px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}
.sci li a:hover{
    transform: translateY(-10px);
    background: #e50e1b;
}
.sci li a img{
    filter: invert(1);
    transform: scale(0.5);
}
.imgBox{
    position: relative;
    width: 160px;
}
.imgBox img{
    position: absolute;
    width: 100%;
    right: 120px;
    bottom: -300px;
}
.imgBox img:nth-child(2){
    width: 70%;
    right: -20px;
    bottom: -100px;
}
.imgBox img:nth-child(3){
    width: 70%;
    right: 300px;
    bottom: -100px;
}